---
layout: default
published: true

title: "Riverview Hotel"
subtitle: "Drink"
lead:
taps:
-  tap_01.png
-  tap_02.png
-  tap_03.png
-  tap_04.png
-  tap_05.jpg
-  tap_06.png
-  tap_07.png
-  tap_08.png
-  tap_09.png
-  tap_10.jpg
-  tap_11.png
-  tap_12.png
-  tap_13.png
-  tap_14.png
-  tap_15.jpg
-  tap_16.png

---
<div class="container">
  <div class="row featurette">
    <div class="col-md-4 col-md-offset-1 col-sm-5 text-center">
      <img src="{{site.cdn}}/img/beer_5.png" class="center-block img-responsive" alt="Beer">
    </div>
    <div class="col-md-6 col-sm-7 text-center">
      <h2 class="text-primary text-center">Bar.</h2>
      <p>There is a wide selection of local and international beers available from the bar with 16 on tap, including the locally handcrafted Stone &amp; Wood range.</p>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row featurette">
{% if page.taps %}
{% for tap in page.taps %}
    <div class="col-lg-1 col-md-2 col-sm-6 col-xs-12 text-center">
      <img src="{{site.cdn}}/img/taps/{{ tap }}" class="center-block img-responsive" alt="Beer">
    </div>
    {% if forloop.index = 8 %}<div class="clearfix visible-lg-block"></div>{% endif %}
    {% if forloop.index = 4 %}<div class="clearfix visible-md-block"></div>{% endif %}
{% endfor %}
{% endif %}

    <div class="col-lg-2 col-lg-offset-2 col-md-3 col-sm-6 col-xs-12 text-center">
      <img src="{{site.cdn}}/img/taps/tap_01.png" class="center-block img-responsive" alt="Beer">
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 text-center">
      <img src="{{site.cdn}}/img/taps/tap_02.png" class="center-block img-responsive" alt="Beer">
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 text-center thumbnail">
      <img src="{{site.cdn}}/img/taps/tap_03.png" class="center-block img-responsive" alt="Beer">
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 text-center thumbnail">
      <img src="{{site.cdn}}/img/taps/tap_04.png" class="center-block img-responsive" alt="Beer">
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 text-center thumbnail">
      <img src="{{site.cdn}}/img/taps/tap_05.jpg" class="center-block img-responsive" alt="Beer">
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 text-center thumbnail">
      <img src="{{site.cdn}}/img/taps/tap_06.png" class="center-block img-responsive" alt="Beer">
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 text-center thumbnail">
      <img src="{{site.cdn}}/img/taps/tap_07.png" class="center-block img-responsive" alt="Beer">
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 text-center thumbnail">
      <img src="{{site.cdn}}/img/taps/tap_08.png" class="center-block img-responsive" alt="Beer">
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 text-center thumbnail">
      <img src="{{site.cdn}}/img/taps/tap_09.png" class="center-block img-responsive" alt="Beer">
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 text-center thumbnail">
      <img src="{{site.cdn}}/img/taps/tap_10.jpg" class="center-block img-responsive" alt="Beer">
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 text-center thumbnail">
      <img src="{{site.cdn}}/img/taps/tap_11.png" class="center-block img-responsive" alt="Beer">
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 text-center thumbnail">
      <img src="{{site.cdn}}/img/taps/tap_12.png" class="center-block img-responsive" alt="Beer">
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 text-center thumbnail">
      <img src="{{site.cdn}}/img/taps/tap_13.png" class="center-block img-responsive" alt="Beer">
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 text-center thumbnail">
      <img src="{{site.cdn}}/img/taps/tap_14.png" class="center-block img-responsive" alt="Beer">
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 text-center thumbnail">
      <img src="{{site.cdn}}/img/taps/tap_15.jpg" class="center-block img-responsive" alt="Beer">
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 text-center thumbnail">
      <img src="{{site.cdn}}/img/taps/tap_16.jpg" class="center-block img-responsive" alt="Beer">
    </div>
  </div>
</div> <!-- End of content -->
