<div id="slideshow" class="cycle-slideshow" data-cycle-speed="2000" data-cycle-timeout="6000" data-cycle-loader=true data-cycle-progressive="#images">
    <img class="img-responsive" src="{{site.cdn}}/img/sydney.jpg" alt="Sydney" height="450" width="1250" class="first">
    <script id="images" type="text/cycle">
        <img class="img-responsive" src="{{site.cdn}}/img/riverview.jpg" alt="Riverview" height="450" width="1250">
        <img class="img-responsive" src="{{site.cdn}}/img/murwillumbah.jpg" alt="Murwillumbah" height="450" width="1250">
    </script>
</div>
