<div class="contact">
    <p class="lead">Contact</p>
    <p><abbr title="Phone"><i class="fa fa-phone"></i></abbr>&nbsp;{{site.biz_phone}}</p>
    <p><abbr title="Enail"><i class="fa fa-envelope-o"></i></abbr>&nbsp;<a href="mailto:{{site.biz_email}}">{{site.biz_email}}</a></p>
    <address><p><abbr title="Post"><i class="fa fa-inbox"></i></abbr>&nbsp;{{site.biz_post_box}}<br>{{site.biz_post_city}}&nbsp;&nbsp;{{site.biz_post_state}}&nbsp;&nbsp;{{site.biz_post_code}}</p></address>
    <p>We are also available at our offices by appointment.</p>
</div>
