<footer>
  {% include map.html %}
  <div class="container text-center">
    <div class="row">
      <div id="address" class="col-md-6">
        <p>{{site.biz_name}}</p>
        <p>{{site.biz_addr_1}}<br>
        {{site.biz_addr_city}}&nbsp;&nbsp;{{site.biz_addr_state}}&nbsp;&nbsp;{{site.biz_addr_code}}</p>
        <p><i class="fa fa-envelope-o"></i>&nbsp;<a href="mailto:{{site.biz_email}}">{{site.biz_email}}</a></p>
      </div>
      <div id="phone" class="col-md-6">
        <p>Bar<br><i class="fa fa-phone"></i>&nbsp;{{site.biz_phone}}</p>
        <p>Bistro<br><i class="fa fa-phone"></i>&nbsp;{{site.biz_phone_bistro}}</p>
        <p>Bus<br><i class="fa fa-phone"></i>&nbsp;{{site.biz_phone_bus}}</p>
      </div>
    </div>
    <p class="small"><a href="/legal/">legal</a> &copy;&nbsp;{{ site.publisher }}</p>
  </div>
</footer>
