<footer>
  {% include map.html %}
  <div class="container text-center">
    <div id="facebook">
      {% include fcbk_follow.html %}
    </div>
    <div id="address">
      <p class="lead">{{site.biz_name}}</p>
      <p>{{site.biz_addr_1}}<br>
      {{site.biz_addr_city}}&nbsp;&nbsp;{{site.biz_addr_state}}&nbsp;&nbsp;{{site.biz_addr_code}}</p>
      <p><a href="mailto:{{site.biz_email}}">{{site.biz_email}}</a></p>
    </div>
    <div class="row">
      <div id="phone-bar" class="col-md-4 col-md-push-4">
        <p>Bar<br><div class="icon icon-phone"></div>&nbsp;{{site.biz_phone}}</p>
      </div>
      <div id="phone-bistro" class="col-md-4 col-md-pull-4">
        <p>Bistro<br><div class="icon icon-phone"></div>&nbsp;{{site.biz_phone_bistro}}</p>
      </div>
      <div id="phone-bus" class="col-md-4">
        <p>Bus<br><div class="icon icon-phone"></div>&nbsp;{{site.biz_phone_bus}}</p>
      </div>
    </div>
    <p class="small"><a href="/legal/">legal</a> &copy;&nbsp;{{ site.publisher }}</p>
  </div>
</footer>
