.jumbotron {
	background: url('{{site.cdn}}{{page.background}}') center center no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	height:100vh;
	color:#eee;
	text-align: center;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
/* CSS Statements that only apply on webkit-based browsers (Chrome, Safari, etc.) */
  .jumbotron { background-attachment: scroll; }
}
.jumbotron .container {
	position: relative;
  top: 25%;
  transform: translateY(-25%);
}
.jumbotron h1 {font-family: 'Permanent Marker', cursive; text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7); }
.jumbotron p {font-family: 'Rock Salt', cursive; }
