<nav class="navbar navbar-default navbar-static-top">
     <div class="container">
          <div class="navbar-header">
               <a href="/" class="navbar-brand"><img alt="Brand" src="{{ site.cdn }}/logo.gif"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span></span> {{ site.biz_name }}</a>
               <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
               </button>
          </div>
          <div class="navbar-collapse collapse" id="navbar-main">
               <ul class="nav navbar-nav navbar-right">
                    <li><a href="/hotel/">Hotel</a></li>
                    <li><a href="/bar/">Bar</a></li>
                    <li><a href="/bistro/">Bistro</a></li>
                    <li><a href="/accomodation/">Accomodation</a></li>
                    <li><a href="/bottles/">Bottle Shop</a></li>
                    <li><a href="/whats-on/">What's On</a></li>
               </ul>
          </div>
     </div>
</nav> <!-- End of navigation menu -->
