---
nav_links:
  -path: /bistro/
   title: Bistro
  -path: /accomodation/
   title: Accomodation
  -path: /whats-on/
   title: What's On
   
---
<nav class="navbar navbar-default navbar-static-top">
     <div class="container">
          <div class="navbar-header">
               <a href="/" class="navbar-brand"><span class="icon icon-logo"></span> {{site.biz_name}}</a>{% if page.title %} <span class="navbar-brand styled">{{page.title}}</span>{% endif %}</span>
               <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
               </button>
          </div>
          <div class="navbar-collapse collapse" id="navbar-main">
               <ul class="nav navbar-nav navbar-right">
                    <li><a href="/bistro/">Bistro</a></li>
                    <li><a href="/accomodation/">Accomodation</a></li>
                    <li><a href="/whats-on/">What's On</a></li>
               </ul>
          </div>
     </div>
</nav> <!-- End of navigation menu -->
