.navbar-default { margin-bottom: 0px; }
.styled { font-family: 'Rock Salt', cursive; font-weight: 400; }
h1 { color:#2fa4e7; }
#content p { margin: 1em; line-height: 1.6em; }
#content p + ul { margin-top: -1em; }
.featurette { padding: 100px 0; }
.featurette-divider {padding: 50px 0; }
.icon { background-repeat: no-repeat; background-size: contain; height: 1em; width: 1em; display:inline-block; }
.icon-phone { background-image: url('{{site.cdn}}/img/phone.svg') }
.icon-logo { background-image: url('{{site.cdn}}/img/logo.svg') }

.page-header { color: #ffffff;  background-color: #0090d9; background-image: url('{{site.cdn}}/img/bg.png'); padding: 20px 0; margin: 0; text-align: center; }
.page-header h1 { font-family: 'Permanent Marker', cursive; color:#ffffff; font-size: 5em; }
.page-header img { margin: -50px 0; }

.jumbotron {
	background: url('{{site.cdn}}{{page.background}}') center center no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	height:100vh;
	color:#0f6b9f;
	text-align: center;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
/* CSS Statements that only apply on webkit-based browsers (Chrome, Safari, etc.) */
  .jumbotron { background-attachment: scroll; }
}
.jumbotron .container {
	position: relative;
  top: 25%;
  transform: translateY(-25%);
}
.jumbotron h1 {font-family: 'Permanent Marker', cursive; text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.4); }
.jumbotron p {font-family: 'Rock Salt', cursive; }
