<!DOCTYPE html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="{{site.description}}">
<meta name="publisher" content="{{site.publisher}}">
<meta name="keywords" content="{{site.keywords}}">
<link rel="stylesheet" href="{{site.cdn}}/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Rock+Salt' rel='stylesheet'>
<title>
	{{site.title}}
</title>
<style>
.page-header { color: #ffffff;  background-color: #0090d9; background-image: url('{{site.cdn}}/img/bg.png'); padding: 20px 0; margin: 0; text-align: center; }
.page-header h1 { font-family: 'Permanent Marker', cursive; color:#ffffff; font-size: 5em; }
.page-header img { margin: -50px 0; }
{% include rvhm.css %}
</style>
</head>

<body>

{% include navbar.html %}

{% include header.html %}

<main id="content">
{{ content }}
</main>

{% include footer.html %}

<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
<script src="{{site.cdn}}/js/bootstrap.min.js"></script>
</body>
</html>
